# caches / temps / outputs
__pycache__/
cache/
logs/
logs_stage2/
output/
stage2_output/

# big datasets & intermediates
pNEUMA_dataset/
processed_json/

# notebook autosaves
.ipynb_checkpoints/

# misc
.DS_Store
