# Python
__pycache__/
*.py[cod]
*.egg-info/

# Notebooks
.ipynb_checkpoints/

# Envs & IDE
.venv/
env/
.DS_Store
.vscode/

# Big data & binaries (keep these OUT of GitHub)
data/
outputs/
logs/
checkpoints/
*.csv
*.parquet
*.h5
*.npz
*.pkl
*.pt
*.sqlite
*.gpkg
*.zip
*.tar
*.tar.gz
*.png
*.jpg
*.tif
*.ang
*.sang
